<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<TITLE> RTM RESULTS </TITLE>
  <link type="text/css" rel="stylesheet" href="templates/standard/search.css">
  <!-- suggest script -->
	<style type="text/css">@import url("include/js_suggest/SuggestFramework.css");</style>
	<script type="text/javascript" src="include/js_suggest/SuggestFramework.js"></script>
	<script type="text/javascript">window.onload = initializeSuggestFramework;</script>
  <!-- /suggest script -->
</HEAD>

<BODY>
<div id="Header"><a href="../index.php">
<img src="../home_logo.jpg" width="327" height="100" alt="" border="0" align="left"/>
<img src="../home_right.jpg" width="479" height="100" alt="" border="0"align="right" / ></a>
</div>

<div id="Content">
<div align="center">
<table align="center" cellspacing="2" cellpadding="2" border="2" width="75%">
<tr> <td colspan="4">
<?php
require_once("$template_dir/$template/search_form2.html");
?>

</td>


</tr>

<tr >
	<td align="center" ><a href="../index.php">HOME</a></td>
	<td align="center"><a href="../allinventory.php">MACHINE INVENTORY</a></td>
	<td align="center"><a href="../contact.php">CONTACT</a></td>
	<td align="center"><a href="../about.php">ABOUT</a></td>
</tr>

</table><br>
</div>
